<div class="mx-auto md:w-2/3 w-full">
  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between">
    <h1 class="font-bold text-4xl">Hoş Geldiniz, <%= @user.first_name %>!</h1>
    
    <%= button_to "Çıkış Yap", logout_path, method: :delete, class: "rounded-md px-3.5 py-2.5 bg-red-600 hover:bg-red-500 text-white font-medium" %>
  </div>

  <div class="mt-8 bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-2xl font-semibold mb-4">Kullanıcı Bilgileri</h2>
    
    <div class="space-y-4">
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">Ad:</span>
        <span class="font-medium"><%= @user.first_name %></span>
      </div>
      
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">Soyad:</span>
        <span class="font-medium"><%= @user.last_name %></span>
      </div>
      
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">E-posta:</span>
        <span class="font-medium"><%= @user.email_address %></span>
      </div>
      
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">Doğum Tarihi:</span>
        <span class="font-medium"><%= @user.birth_date&.strftime("%d.%m.%Y") %></span>
      </div>
      
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">Cinsiyet:</span>
        <span class="font-medium"><%= @user.gender %></span>
      </div>
      
      <div class="flex flex-col">
        <span class="text-gray-500 text-sm">Ünvan:</span>
        <span class="font-medium"><%= @user.title %></span>
      </div>
    </div>
  </div>
</div>