<% content_for :title, t('.title') %>

<h2 class="font-bold text-4xl text-center mb-6"><%= t('.form_title') %></h2>

<%= form_with model: @user, url: password_reset_path(token: @token), method: :patch, class: "form-container flex flex-col gap-6 p-6 bg-white shadow-lg rounded-lg max-w-md mx-auto" do |f| %>

  <%= render partial: "components/input", locals: {
          form: f,
          field: :password,
          type: :password,
          options: { required: true, autofocus: true, autocomplete: "new-password", placeholder: t('.password_placeholder') }
        } %>

  <%= render partial: "components/input", locals: {
          form: f,
          field: :password_confirmation,
          type: :password,
          options: { required: true, autocomplete: "new-password", placeholder: t('.password_confirmation_placeholder') }
        } %>

  <div class="form-submit">
    <%= f.submit t('.submit'), class: "submit-btn rounded-lg py-3 bg-teal-600 text-white font-semibold hover:bg-teal-700 transition duration-300 w-full text-center cursor-pointer" %>
  </div>

<% end %>
