<h1><%= t('.title') %></h1>
<p><%= t('.request_intro', email_address: @user.email_address) %></p>
<p><%= t('.instructions') %></p>
<p><%= link_to t('.reset_link'), @reset_url %></p>
<p><%= t('.ignore_request') %></p>
<p><%= t('.no_change_notice') %></p> 